<configuration>

  <!-- log INFO or higher messages to the console -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%thread] %date{ISO8601} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- use AsyncAppender for lower latencies -->
  <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="console" />
  </appender>

  <root level="INFO">
    <appender-ref ref="async" />
  </root>
  <!--
  <logger name="com.datastax.oss.driver" level= "DEBUG"/>
  <logger name="com.datastax.oss.driver.api.core.metadata." level= "DEBUG"/>
  -->
  <logger name="com.datastax.driver.core" level= "DEBUG"/>
</configuration>